.container {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kulim Park', sans-serif;
    -webkit-print-color-adjust: exact;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 70%;
    position: relative;
  }
  th,
  td {
    padding: 10px 15px;
    vertical-align: middle;
  }
  thead {
    background: linear-gradient(#ff7e27, #d2701b);
    color: #fff;
    text-align: left;
    font-size: 11px;
    text-transform: uppercase;
  }
  th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
  }
  th:last-child {
    border-top-right-radius: 5px;
  }
  tbody tr:nth-child(even) {
    background: #f4f4f4;
  }
  td {
    border-bottom: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
  }
  td:first-child {
    border-left: 1px solid #f4f4f4;
  }
  .book-title {
    color: #395870;
    display: block;
  }
  .item-stock,
  .item-qty {
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  .item-multiple {
    display: block;
  }
  tfoot {
    text-align: right;
  }
  tfoot tr:last-child {
    background: rgb(228, 226, 226);
    color: #d7731c;
    font-weight: bold;
  }
  tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  } 

.title-text {
    color: #3c3c3c;
    font-weight: 600;
    font-size: 17px;
}

.big-title-text {
    font-weight: 600;
    font-size: 30px;
    color: #ff7e27;
}

.info-text {
    color: #a2a2a2;
    font-size: 15px;
}

.general-text {
    color: #3c3c3c;
    font-size: 15px;
}

.date-colum {
    width: calc(20%);
}

.task-colum {
    width: calc(65%);
}

.hours-colum {
    width: calc(15%);
}

.report-info {
    display: inline-flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 30px;
}

.padding-right {
    padding-right: 20px;
}

.divider {
    padding: 7px;
    border-top: 1px solid #f4f4f4;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    margin-left: auto;
    order: 2;
}

.logo {
    width: 20%;
    height: 20%;
    padding-bottom: 50px;
}
