.container {
    margin: 50px;
    -webkit-print-color-adjust: exact;
}

.title-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.logo-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 30%;
    height: 30%;
}

.address {
    color: #a2a2a2;
    display: flex;
    font-family: 'Kulim Park', sans-serif;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.title {
    color: #ec7f1f;
    font-size: 60px;
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

.lulosoft-name {
    font-family: 'Kulim Park', sans-serif;
    font-size: 30px;
}

.company-info-block {
    background-color: #f4f4f4;
}

.company-info-block-content {
    display: flex;
    padding: 30px 100px 30px 60px;
}

.flex-left {
    justify-content: flex-start;
}

.flex-right {
    margin-left: auto;
    order: 2;
}

.title-text {
    font-family: 'Kulim Park', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.info-text {
    color: #a2a2a2;
    font-family: 'Kulim Park', sans-serif;
    font-size: 15px;
}

.general-text {
    font-family: 'Kulim Park', sans-serif;
    font-size: 15px;
}

.inline {
    display: inline-flex;
}

.inline-center {
    display: inline-flex;
    align-items: center;
}

.padding-right {
    padding-right: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.spaced-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

.items-table {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.items-table-header {
    background-color: #ec7f1f;
    color: #f4f4f4;
    font-family: 'Kulim Park', sans-serif;
    font-size: 15px;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
}

.items-table-item {
    padding-top: 5px;
    font-family: 'Kulim Park', sans-serif;
    font-size: 15px;
    padding-left: 30px;
}

.divider {
    padding: 7px;
    border-bottom: 1px solid #f4f4f4;
}

.balance-section {
    display: flex;
    padding: 60px 100px 30px 30px;
    font-family: 'Kulim Park', sans-serif;
}

.balance-due {
    color: #ec7f1f  ;
}

.bold {
    font-weight: bold;
}

.narrow {
    width: 55%;
}

.payment-info {
    background-color: #f4f4f4;
    margin-top: 20px;
}

.payment-info-content {
    padding: 20px;
}

.payment-options {
    display: inline-flex;
}

.small-print {
    font-family: 'Kulim Park', sans-serif;
    font-size: 13px;
}